
.header{
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  background:rgb(41, 41, 41);
}

ul{
list-style: none;
margin: 0;
padding: 10px;
}

a{
font-size: 30px;
padding: 20px;
color:rgb(116, 113, 113);
text-decoration: none;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
transition: .5s;
}
b{
  font-size: 30px;
  padding: 20px;
  color:rgb(116, 113, 113);
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
a:hover{
  color:rgb(214, 131, 240);
  text-decoration: none;
  opacity: 1;

}
li{
display: inline;
}

/* шапка */
body{
  background: linear-gradient(to bottom left, rgb(35, 63, 88), 50%, rgb(87, 40, 84));
  background-repeat: repeat-x;
  font-family: cuyabra;
  height: auto;
  margin: 0;
}
.starttext{
  color: rgb(255, 255, 255);
  font-size: 70px;
  font-family: cuyabra;
  padding: 0px;
  margin-top: 250px;
max-width: 600px;
margin-left:10%;
  text-transform: capitalize;
}
/* поиск */
/* .search{
    position: relative;
    width: 300px;
    height: 40px;
    display: flex;
    float: right;
}

.search input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: transparent;
  border: 2px solid rgb(70, 31, 73);
  outline: none;
  border-radius: 14px;
  padding: 0 10px 0 45px;
  backdrop-filter: blur(10px);
}
.search input{
  color: #fff;
}

.search input::placeholder{
  color: #fff;
} */

/* поиск */
.ag-img{
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  object-fit: cover;
  opacity: 0.35;
  z-index:-100;
}


.left-p{
  display: flex;
  justify-content: flex-start;
  width: 95%;
}

.right-p{
  display: flex;
  justify-content: flex-end;
  width: 95%;
}
.poch{
  display: flex;
  justify-content: center;
}
.odin1{
display:flex;
align-items: flex-start;
flex-direction: column;
justify-content: center;
max-width:850px;
margin-left: 10%;

background: linear-gradient(to left, rgb(122, 97, 161), rgb(94, 153, 138));
border-radius: 35px;
padding: 15px;
padding-left: 20px;
color: rgb(255, 255, 255);
font-size: 35px;
font-family: cuyabra;
text-transform: none;
border-width: 50vh;
}
.odin2{
  display:flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  max-width:850px;
  margin-left: 10%;

  background: linear-gradient(to right, rgb(96, 81, 150), rgb(145, 1, 1));
  border-radius: 40px;
  padding: 15px;
  padding-left: 20px;
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-family: cuyabra;
  text-transform: none;
  }

.odinsh{
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  max-width:450px;
  margin-left: 10%;
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-family: cuyabra;
  text-transform: capitalize;
  }


.odin1:nth-of-type(){
align-self: flex-start;

}
.odin2:nth-of-type(){
  align-self: flex-end;
}

.odinstart{

  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: cuyabra;
  padding: 0px;
  margin-top: 120px;
  margin-left: 100px;
  margin-right: 500px;
  padding-right: 100px;
  text-transform: none;
}

#papaotdaymnedevstvennost{
color: aliceblue;
font-size: 60px;
font-family: cuyabra ;

}

.logo{
  height: 65px;
}

.logo-a{
  padding: 0;
  height: 65px;
}

.logo-container{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes flicker{
  from {opacity: 1;}
  to {opacity: 0.2;}
}

#hello{
  color: yellow;
  animation: flicker 2s ease-in-out infinite alternate;
}

.social-media-logo{
  width: 45px;
  float: right;
}

.social-media{
  
  width: 400px;
}

.obz{
  margin-top: 5%;
  text-align: center;
  font-family: cuyabra;
  color: white;
  font-size: 50px;
  margin-bottom: 3%;
}

.post-image{
  width: 15vw;
}

.post-desc-h{
  margin: 0;
}

.post-desc{
  width: 25vw;
  display: inline;
  word-wrap: break-word;
  font-size: 20px;
  align-self: flex-start;
}

.post-field{
  align-self: flex-start;
  margin: 0;
  font-size: 25px;
  width: 25vw;
}

/* посты */
.posts{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  }

.post{
  display:flex;
  align-items: center;
  flex-direction: column;
  width: 26vw;
  height: 900px;
  background: linear-gradient(to left, rgb(122, 97, 161), rgb(94, 153, 138));
  border-radius: 35px;
  padding: 15px;
  padding-left: 20px;
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-family: cuyabra;
  text-transform: none;
  border-width: 50vh;
}

.count-p{
  font-size: 25px;
  margin-bottom: 1%;
  color: white;
}
/* ---------------- */
.search-form{
  border: 3px solid  rgb(94, 153, 138);
  display: flex;
  margin-right: 1.5%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-bottom: 2%;
}

.search-form input{
  border:none;
  opacity: 100%;
  width: 100%;
  outline:none;
  font-size: 25px;
  background: transparent;
  /* background: linear-gradient(to right,  rgb(87, 40, 84), rgb(35, 63, 88)); */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: white;
}

.search-form button{
  border:none;
  width: 9%;
  opacity: 100%;
  background: transparent;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.search-image{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;

}
/* ---------------- */
.underobz{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #3E1E68;
  /* либо */
  /* background: linear-gradient(to bottom left, rgb(35, 63, 88), 50%, rgb(87, 40, 84)); */
  overflow: hidden;
  z-index: -100;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #E45A84;
  top: 20%;
  left: 22%;
  animation-duration: 30s;
  animation-delay: -42s;
  transform-origin: 25vw 1vh;
  box-shadow: 40vmin 0 5.545417066187543vmin currentColor;
}
.background span:nth-child(1) {
  color: #583C87;
  top: 91%;
  left: 79%;
  animation-duration: 23s;
  animation-delay: -34s;
  transform-origin: -1vw -8vh;
  box-shadow: -40vmin 0 5.891011570672564vmin currentColor;
}
.background span:nth-child(2) {
  color: #FFACAC;
  top: 3%;
  left: 85%;
  animation-duration: 32s;
  animation-delay: -22s;
  transform-origin: 24vw -23vh;
  box-shadow: -40vmin 0 5.317611418254724vmin currentColor;
}
.background span:nth-child(3) {
  color: #583C87;
  top: 7%;
  left: 81%;
  animation-duration: 33s;
  animation-delay: -36s;
  transform-origin: 18vw -6vh;
  box-shadow: 40vmin 0 5.156665041150859vmin currentColor;
}
.background span:nth-child(4) {
  color: #FFACAC;
  top: 11%;
  left: 88%;
  animation-duration: 35s;
  animation-delay: -3s;
  transform-origin: 20vw 5vh;
  box-shadow: 40vmin 0 5.158001346516519vmin currentColor;
}
.background span:nth-child(5) {
  color: #583C87;
  top: 9%;
  left: 46%;
  animation-duration: 22s;
  animation-delay: -24s;
  transform-origin: 13vw -19vh;
  box-shadow: -40vmin 0 5.4592467145420756vmin currentColor;
}
.background span:nth-child(6) {
  color: #E45A84;
  top: 43%;
  left: 63%;
  animation-duration: 19s;
  animation-delay: -22s;
  transform-origin: 3vw 11vh;
  box-shadow: 40vmin 0 5.5832895820590664vmin currentColor;
}
.background span:nth-child(7) {
  color: #583C87;
  top: 31%;
  left: 13%;
  animation-duration: 34s;
  animation-delay: -4s;
  transform-origin: -22vw -19vh;
  box-shadow: -40vmin 0 5.877588026787622vmin currentColor;
}
.background span:nth-child(8) {
  color: #583C87;
  top: 50%;
  left: 52%;
  animation-duration: 50s;
  animation-delay: -6s;
  transform-origin: -24vw 5vh;
  box-shadow: -40vmin 0 5.2043835742267985vmin currentColor;
}
.background span:nth-child(9) {
  color: #E45A84;
  top: 21%;
  left: 44%;
  animation-duration: 44s;
  animation-delay: -4s;
  transform-origin: 11vw 17vh;
  box-shadow: 40vmin 0 5.363127136055449vmin currentColor;
}
.background span:nth-child(10) {
  color: #FFACAC;
  top: 100%;
  left: 51%;
  animation-duration: 52s;
  animation-delay: -46s;
  transform-origin: -15vw 20vh;
  box-shadow: 40vmin 0 5.8891633986322836vmin currentColor;
}
.background span:nth-child(11) {
  color: #E45A84;
  top: 78%;
  left: 10%;
  animation-duration: 44s;
  animation-delay: -27s;
  transform-origin: 20vw -16vh;
  box-shadow: -40vmin 0 5.194375511655513vmin currentColor;
}
.background span:nth-child(12) {
  color: #FFACAC;
  top: 21%;
  left: 57%;
  animation-duration: 54s;
  animation-delay: -44s;
  transform-origin: -22vw 17vh;
  box-shadow: -40vmin 0 5.167413466025484vmin currentColor;
}
.background span:nth-child(13) {
  color: #E45A84;
  top: 1%;
  left: 24%;
  animation-duration: 13s;
  animation-delay: -12s;
  transform-origin: 18vw 25vh;
  box-shadow: 40vmin 0 5.046069405547781vmin currentColor;
}
.background span:nth-child(14) {
  color: #E45A84;
  top: 21%;
  left: 21%;
  animation-duration: 47s;
  animation-delay: -48s;
  transform-origin: 17vw -17vh;
  box-shadow: -40vmin 0 5.544112143286778vmin currentColor;
}
.background span:nth-child(15) {
  color: #583C87;
  top: 76%;
  left: 99%;
  animation-duration: 40s;
  animation-delay: -22s;
  transform-origin: -20vw 18vh;
  box-shadow: -40vmin 0 5.14267324098473vmin currentColor;
}
.background span:nth-child(16) {
  color: #E45A84;
  top: 96%;
  left: 57%;
  animation-duration: 12s;
  animation-delay: -9s;
  transform-origin: 0vw -13vh;
  box-shadow: -40vmin 0 5.455619358479403vmin currentColor;
}
.footer{
  width: 100%;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  z-index: 8;
  height: 400px;
  padding: 0%;
  background:rgb(41, 41, 41);
  display: flex;
  justify-content: flex-end;
}

.DoNotPayAttention {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-self: flex-end;
  align-items: center;
}

.DoNotPayAttention p{
  display: inline-block;
}

/* подключалки */
@font-face {
  font-family: "cuyabra";
  src: url('media/fonts/cuyabra-Regular\ [RUS\ by\ Zephyrus].ttf');
}